<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}" />
</head>

<body>
    <img src="{% static 'img/bg.png' %}">
    <div class="main"></div>
    <div class="overlay">
        <div class="popup">
            <div class="popup-head">
                <h1>{{request.GET.contry}}</h1>
                <a class="close" href="/">&times;</a>
            </div>
            <div class="content">
                <h2>Corono Cases : </h2>
                <h3>{{dict.Coronavirus_Cases}}</h3><br>
                <h2>Death : </h2>
                <h3>{{dict.Deaths}}</h3><br>
                <h2>Recovered : </h2>
                <h3>{{dict.Recovered}}</h3>
            </div>
        </div>
    </div>
</body>

</html>
