<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <title>Home</title>
</head>
<body>
    <div class="header">
        <a href="#" class="logo"><img src="{% static 'img/logofinal.png'%}"></a>
        <div class="header-right">
          <a class="active" href="#">Home</a>
          <a href="#">symptoms</a>
          <a href="#">About</a>
        </div>
    </div>
    <video id="videoBG" poster="{% static 'img/videobg.png' %}" autoplay muted loop>
        <source src="{% static 'video/video.mp4' %}">
    </video>

    <div class="main-block" >
        <div class="main-content">
            <div class="content-left">
                <p><h1>Symptoms</h1>
                <ul><li>Fever</li>
                <li>Cough</li>
                <li>Shortness of breath or difficlity breathing</li>
                <li><h3>Other symptoms:</h3></li>
                <li>Tiredness</li>
                <li>Aches</li>
                <li>Runny nose</li>
                <li>Sore throat</li></ul></p>
                <a href="/symptoms/"><button type="button" >Know More</button></a>
            </div>
            <div class="content-right">
                <p><h1>Precautions</h1>
                    <ul><li>Fever</li>
                    <li>Cough</li>
                    <li>Shortness of breath or difficlity breathing</li>
                    <li><h3>Other symptoms:</h3></li>
                    <li>Tiredness</li>
                    <li>Aches</li>
                    <li>Runny nose</li>
                    <li>Aches</li>
                    <li>Runny nose</li>
                    <li>Sore throat</li></ul></p>
                    <a href="/precaution/"><button type="button" >Know More</button></a>
            </div>
        </div>
        <div class="bottom">
            <div class="contry"><a href="data?contry=India"><h1>India</h1></a></div><br>
            <div class="contry"><a href="data?contry=China"><h1>China</h1></a></div>
            <div class="contry"><a href="data?contry=Italy"><h3>Italy</h3></a></div>
            <div class="contry"><a href="data?contry=USA"><h2>USA</h2></a></div>
            <div class="contry"><a href="data?contry=Spain"><h3>Spain</h3></a></div>
            <div class="contry"><a href="data?contry=Germany"><h3>Germany</h3></a></div>
            <div class="contry"><a href="data?contry=Iran"><h2>Iran</h2></a></div>
            <div class="contry"><a href="data?contry=France"><h3>France</h3></a></div>
            <div class="contry"><a href="data?contry=Switzerland"><h2>Switzerland</h2></a></div>
            <div class="contry"><a href="data?contry=S.Korea"><h2>S.Korea</h2></a></div>
            <div class="contry"><a href="data?contry=UK"><h1>UK</h1></a></div>
            <div class="contry"><a href="data?contry=Netherlands"><h2>Netherlands</h2></a></div>
            <div class="contry"><a href="data?contry=Austria"><h3>Austria</h3></a></div>
            <div class="contry"><a href="data?contry=Belgium"><h1>Belgium</h1></a></div>
            <div class="contry"><a href="data?contry=Norway"><h2>Norway</h2></a></div>
            <div class="contry"><a href="data?contry=Canada"><h1>Canada</h1></a></div>
            <div class="contry"><a href="data?contry=Australia"><h3>Australia</h3></a></div>
            <div class="contry"><a href="data?contry=Portugal"><h1>Portugal</h1></a></div>
            <div class="contry"><a href="data?contry=Sweden"><h2>Sweden</h2></a></div>
            <div class="contry"><a href="data?contry=Brazil"><h2>Brazil</h2></a></div>
            <div class="contry"><a href="data?contry=Israel"><h3>Israel</h3></a></div>
            <div class="contry"><a href="data?contry=Turkey"><h1>Turkey</h1></a></div>
            <div class="contry"><a href="data?contry=Malaysia"><h2>Malaysia</h2></a></div>
            <div class="contry"><a href="data?contry=Denmark"><h3>Denmark</h3></a></div>
            <div class="contry"><a href="data?contry=Czechia"><h2>Czechia</h2></a></div>
            <div class="contry"><a href="data?contry=Ireland"><h1>Ireland</h1></a></div>
            <div class="contry"><a href="data?contry=Japan"><h2>Japan</h2></a></div>
            <div class="contry"><a href="data?contry=Luxembourg"><h3>Luxembourg</h3></a></div>
            <div class="contry"><a href="data?contry=Ecuador"><h1>Ecuador</h1></a></div>
            <div class="contry"><a href="data?contry=Pakistan"><h3>Pakistan</h3></a></div>
            <div class="contry"><a href="data?contry=Thailand"><h2>Thailand</h2></a></div>
        </div>
    </div>
    
</body>
</html>